<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nFountainConfiguration"
			type="PageOfBob.NFountain.Configuration.NFountainConfigurationSection, Fountain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
		    allowDefinition="Everywhere" allowLocation="true" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
	<nFountainConfiguration>
		<add key="default-parser" 
		     pluginType="Parser"
		     assembly="Fountain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
		     type="PageOfBob.NFountain.Plugins.DefaultParserModule" />
		<add key="default-writer" 
		     pluginType="Writer"
		     assembly="Fountain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
		     type="PageOfBob.NFountain.Plugins.DefaultWriterModule" />
		<add key="html-writer" 
		     pluginType="Writer"
		     assembly="PageOfBob.NFountain.HtmlWriter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
		     type="PageOfBob.NFountain.Plugins.HtmlWriter" />
	</nFountainConfiguration>
</configuration>